.progress-bar{
	-fx-background-color: transparent;
}

.progress-bar .bar{
	-fx-background-color: transparent;
	-fx-background-insets: 0,0,0,0;
	-fx-padding: 0.3em;
}

.progress-bar .track{
	-fx-background-color: #e0e0e0;
}